# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Qt build artifacts
*.o
moc_*.cpp
ui_*.h
qrc_*.cpp
Makefile
.qmake.stash
*_plugin_import.cpp
*_qmlcache.qrc
QT_contactbook/QT_contactbook
